#container {
    display: grid;
    grid-template-rows: auto;
}

.grid-item {
    padding-top: 100%;
    border: 1px solid #d00000;
    text-align: center;
}

button {
    width: 25%;
    height: 60px;
    font-size: large;
    font-weight: bolder;
    background-color: #b85c10;
}